@import url("https://selfhost.memene.cn/assets/font/OPPO_Sans_4/result.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "OPPO Sans 4.0","Source Han Sans" !important;
    line-height: 1.6;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "OPPO Sans 4.0","Source Han Sans" !important;
}

:root .prose{
    --tw-prose-body:black;
    --tw-prose-headings:black;
    --tw-prose-code:black;
    --tw-prose-links:black;
    --tw-prose-quotes:black;
    --tw-prose-bold:black;
    font-family: "OPPO Sans 4.0","Source Han Sans" !important;
    line-height: 1.6;
}


.prose :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-style: normal;
}
:root {
  --search-bg: #f3f4f6;
  --search-text: #1f2937;
  --search-border: #e5e7eb;
  --search-placeholder: #9ca3af;
  --search-hover-bg: #e5e7eb;
  
}

.dark {
  --search-bg: #374151;
  --search-text: #f3f4f6;
  --search-border: #4b5563;
  --search-placeholder: #9ca3af;
  --search-hover-bg: #4b5563;
}

.theAfter {
  position: relative;
  width: fit-content;
}

.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker {
  color: black;
}

.dark .prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker {
  color: white;
}

@layer components{
  .theAfter::after{
    @apply absolute left-0 bottom-[-11px] w-full h-[13px] bg-gradient-to-br from-indigo-500 via-indigo-700 to-purple-600;
    content: "";
    background-image: linear-gradient(45deg, #6366f1, #4f46e5, #7e22ce);
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 20" preserveAspectRatio="none"><path d="M0 10 Q 50 20, 100 10 T 200 10" stroke="white" stroke-width="2" fill="none"/></svg>');
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 20" preserveAspectRatio="none"><path d="M0 10 Q 50 20, 100 10 T 200 10" stroke="white" stroke-width="2" fill="none"/></svg>');
    mask-size: cover;
    -webkit-mask-size: cover;
    position: absolute;
  }
}
