@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
}

:root .prose{
    --tw-prose-body:black;
    --tw-prose-headings:black;
    --tw-prose-code:black;
    --tw-prose-links:black;
    --tw-prose-quotes:black;
    --tw-prose-bold:black;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
}

.prose :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-style: normal;
}
:root {
  --search-bg: #f3f4f6;
  --search-text: #1f2937;
  --search-border: #e5e7eb;
  --search-placeholder: #9ca3af;
  --search-hover-bg: #e5e7eb;
  
}

.dark {
  --search-bg: #374151;
  --search-text: #f3f4f6;
  --search-border: #4b5563;
  --search-placeholder: #9ca3af;
  --search-hover-bg: #4b5563;
}

